# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
ENV/
.env/

# Editor directories and files
.vscode/
.idea/
*.swp
